@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 25s linear infinite;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes scroll-down {
  0% { transform: translateY(0); }
  100% { transform: translateY(200%); }
}

@keyframes scroll-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-200%); }
}

.animate-scroll-down {
      animation: scroll-down 40s linear infinite;
    }

    .animate-scroll-up {
      animation: scroll-up 40s linear infinite;
    }